body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}
h1 {
  font-size: 20px;
}
h2 {
  font-size: 18px;
}
#site {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 70px 4fr 1fr;
  grid-template-areas:
    "nav nav"
    "aside section"
    "aside section"
    "footer footer";

  height: 100vh;
}

nav {
  grid-area: nav;
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px gray solid;
}
.nav-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu {
  padding-right: 40px;
}
.menu ul {
  display: flex;
  align-items: center;
}
.menu ul li {
  margin: 10px;
  list-style: none;
}

.menu a {
  text-decoration: none;
  color: #000;
}
.menu a:hover {
  color: #20c997;
}
.search {
  width: 200px;
  height: 30px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/* Style lorsque le champ de recherche est en focus */
.search:focus {
  outline: none;
  border-color: #20c997;
  box-shadow: 0 0 0 2px #20c99740;
}

/* Style lorsque le champ de recherche est rempli */
.search:valid {
  border-color: #20c997;
}

/* Style du bouton de recherche à côté de l'input */
.search-button {
  padding: 8px 12px;
  background-color: #20c997;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

/* Style du bouton de recherche au survol */
.search-button:hover {
  background-color: #1aae8c;
}

.burger-icon {
  display: none;
}
.burger-bar {
  width: 25px;
  height: 3px;
  background-color: #000;
  margin: 4px;
}

.logo {
  padding-left: 40px;
}
.button.small {
  font-size: 14px;
  padding: 8px 20px;
  padding: 0.5rem 1.25rem;
}
.button.primary {
  background-color: #20c997;
  color: #fff;
}
.button {
  background-color: #f1f3f5;
  border: 1px solid transparent;
  border-radius: 0.3rem;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  height: 1em;
  padding: 1rem 2rem;
  text-align: center;
  -webkit-transition: all 0.3s cubic-bezier(0.694, 0, 0.335, 1);
  transition: all 0.3s cubic-bezier(0.694, 0, 0.335, 1);
}
aside {
  grid-area: aside;
  background-color: palevioletred;
  overflow: auto; /* Ajout de la propriété overflow */
  text-align: center;
  width: 100%;
  padding: 20px 0;
}
aside h2 {
  text-align: center;
  margin-bottom: 20px;
}
aside span {
  font-weight: bold;
}
aside li {
  height: 25px;
  list-style: none;
}

aside a {
  text-decoration: none;
  color: #000;
}
aside a:hover {
  text-decoration: none;
  color: #20c997;
}
.ma-liste {
  list-style: none;
  padding: 0;
  margin: 0;
}
.selected {
  color: #20c997;
}

aside div {
  padding-bottom: 10px;
}
section {
  grid-area: section;
  background-color: orangered;
  overflow: auto;
  width: 100%;
  padding: 30px 0;
}
.section-content {
  width: 600px;
  text-align: center;
  margin: auto;
}

section h1,
h2,
p {
  text-align: left;
}
section h1,
h2 {
  text-align: left;
  height: 40px;
  font-weight: bold;
}
.para {
  margin-top: 0px;
}
#signup-color,
#pricing-color {
  color: #20c997;
}
.border-with-circle {
  border-left: 4px solid #20c997; /* Bordure gauche */
  background-color: rgb(233, 230, 230);
  padding-left: 20px; /* Espacement à gauche */
  position: relative;
  height: 70px;
  display: flex;
  align-items: center;
}

.circle {
  width: 25px; /* Taille du cercle */
  height: 25px;
  border-radius: 50%; /* Forme circulaire */
  background-color: #20c997; /* Couleur de fond du cercle */
  position: absolute;
  top: 50%; /* Position verticale au centre */
  left: -13px; /* Décalage à gauche pour aligner le cercle */
  transform: translate(0, -50%); /* Ajustement vertical */
}

.circle p {
  color: white; /* Couleur du texte */
  text-align: center; /* Alignement du texte */
  margin-top: 5px; /* Espacement du texte par rapport au cercle */
}
footer {
  grid-area: footer;
  width: 100%;
}

.footer-secondFloor {
  display: flex;
  justify-content: space-around;
}
.liste-footer {
  /* background-color: pink; */
  display: flex;
  justify-content: space-around;
  width: 80%;
  padding: 0 0 40px 0;
}

.liste-footer a {
  text-decoration: none;
  color: #000;
}

.liste-footer a:hover {
  text-decoration: none;
  color: #20c997;
}
.logo-footer {
  width: 20%;
  background-color: yellow;
  text-align: center;
}

.footer-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  margin-top: 40px;
  /* background-color: red; */
}

/* Modifier la taille des icônes */
.fa-instagram,
.fa-twitter,
.fa-linkedin,
.fa-slack,
.fa-yin-yang {
  font-size: 24px;
  color: #20c997;
  margin: 0 8px;
}

@media screen and (max-width: 740px) {
  #site {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px 2fr 2fr 1fr;
    grid-template-areas:
      "nav nav"
      "section section"
      "section section"
      "footer footer";
  }
  .menu ul {
    display: none;
  }
  .menu ul.show-menu {
    display: block;
  }

  .burger-icon {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    cursor: pointer;
  }
  .footer-icons {
    font-size: 12px;
    display: flex;
    justify-content: center;
  }

  nav {
    font-size: 14px;
    justify-content: space-between;
  }
  aside {
    display: none;
  }
}
